pushs "n numeros a multiplicar: "
writes
read     // n
atoi
pushi 0  // i
pushi 1  // res
pushs "insira um numero: "
start

	// inicio do ciclo while
WHILE0:             
	//condicao de permanencia no ciclo   
pushg 0	
pushg 1 
sup
jz ENDWHILE0        
pushg 2 // variavel "res"
pushg 3
writes
read            
atoi           
mul
storeg 2
pushg 1
pushi 1
add
storeg 1
jump WHILE0         
ENDWHILE0:          
	// fim do ciclo while

	// inicio de get variavel "res"
pushg 2	// fim de get variavel "res"
                  
writei
stop
